#navbar {
    background-color: #1D3557;
}

.nav-link {
    color: #E63946;
}

body {
    overflow-y: hidden;
}

main {
    background-color: #E63946;
    margin: -8px -8px 8px -8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#panel {
    background-color: #F1FAEE;
    width: 50%;
    padding: 0px 1em 0px 1em;
    border-radius: 10px;
    overflow-y: hidden;
    max-height: 80%;
    min-height: fit-content;
    height: min-content;
}

#multithreadedArgs {
    visibility: hidden;
    height: 0px;
}

#helpDiv {
    visibility: visible;
    height: auto;
}

#mTArgumentExplanation {
    visibility: hidden;
    height: 0px;
}

#warning {
    color: red;
}

#output {
    visibility: hidden;
    height: 0px;
    font-family: Consolas;
    background-color: black;
    color: #F1FAEE;
}
