#multithreadedArgs {
    visibility: hidden;
    height: 0px;
    width: 400px;
}

#helpDiv {
    visibility: visible;
    height: auto;
    width: 400px;
}

#mTArgumentExplanation {
    visibility: hidden;
    height: 0px;
}

#cancel_form {
    visibility: hidden;
    height: 0px;
}

#download_form {
    visibility: hidden;
    height: 0px;
}

#warning {
    color: red;
}

#output {
    height: 60vh;
    font-family: Consolas;
}
