#navbar {
    background-color: #1D3557;
}

.nav-link {
    color: #E63946;
}

main {
    background-color: #E63946;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#multithreadedArgs {
    visibility: hidden;
    height: 0px;
    width: 400px;
}

#helpDiv {
    visibility: visible;
    height: auto;
    width: 400px;
}

#mTArgumentExplanation {
    visibility: hidden;
    height: 0px;
}

#cancel_form {
    visibility: hidden;
    height: 0px;
}

/* #download_form { #change1
    visibility: hidden;
    height: 0px;
} */

#warning {
    color: red;
}

#output {
    height: 60vh;
    font-family: Consolas;
}
